@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3162cc;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    margin: 30px 0px;
}

section {
    background-color: white;
    width: 70vw;
    height: 60vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.448);

    p {
        margin-top: 15px;
    }
}

footer {
    text-align: center;
    font-style: italic;
    color: white;
    margin-top: 30px;
}

@media screen and (min-width: 900px) {
    section {
        width: 60vw;
        height: 60vh;
        gap: 30px;
    
        img {
            width: 300px;
            height: 300px;
        }
    }
}